# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.properties
!gradle/wrapper/gradle-wrapper.jar

# Gradle logs
gradle.log

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/
.idea/material_theme_project_new.xml
.idea/vcs.xml

# Eclipse
.project
.classpath
.settings/
bin/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~
